# URL de conexión a PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/historia_clinica

# Clave secreta para firmar JWT
JWT_SECRET=clave_segura

# Puerto en el que corre el servidor
PORT=3000
