# Node
node_modules/
dist/

# Env
.env

# Prisma
.prisma/
.env.test

# OS / editor
.DS_Store
.idea/
.vscode/
*.log

# Docker-related files
*.local
docker-compose.override.yml

# Evita subir archivos de volúmenes montados (si los usas localmente)
volumes/
